<%= image_tag @politician.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @politician.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @politician.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @politician.rating %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
